$font-main: "Qanelas", sans-serif;
$header-height: 64px;
$sidebar-height: calc(100vh - 80px);
$sidebar-width: 244px;
$sidebar-mini-width: 56px;

$bg-color-light: #EFF7FF;
$bg-color-dark: #3a3f5c;

$font-weights: (
                ("extra-bold", 800),
                ("bold", 700),
                ("semi-bold", 600),
                ("medium", 500),
                ("regular", 400)
);

$colors: (
        "bg-color-light": #EFF7FF,
        "bg-color-dark": #3a3f5c,
        "dark-blue": #263054,
        "darker-blue": "#18275D",
        "blue": #284056,
        "light-blue": #323948,
        "thin-blue": rgba(24, 39, 93, 0.24),
        "green": #28B446,
        "light-green": #17BDC0,
        "cloud": #DFE6EE,
        "light-cloud": #F5F5F5,
        "gray": #868EAA,
        "dark-gray": #D9D9E5,
        "light-gray": #F5F8FB,
        "dark-red": #F94E4F,
        "light-red": #FF2090,
        "yellow": #E6A812,
        "white": #fff,
        "black": #000
);

$offset-laptop: 1439px;
$offset-tablet: 999px;
$offset-mobile: 767px;

$grid-widths: (320px, 768px, 1000px, 1440px);

html.dark {
  --el-bg-color-overlay: #263054;
  --el-border-color-light: #fff;
  --el-box-shadow-light: #263054;
  --el-fill-color-light: #ffffff24;
  --el-border-color: #fff;
  --el-border-color-hover: #fff;
  --color-dark-gray: #fff;
  --el-text-color-placeholder: #fff;
  --el-fill-color: #263054;
  --el-text-color-regular: #fff;
}

:root {
  @each $name, $color in $colors {
    --#{'color-' + $name}: #{$color};
  }
}
