.v-area {
  &__input {
    font-family: "Qanelas", sans-serif;
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--color-dark-gray);
    padding: 11px 16px;
    font-size: 14px;
    color: var(--color-light-blue);
    font-weight: 500;

    &::placeholder {
      font-size: 16px;
      color: var(--color-gray);
      font-weight: 500;
    }
  }

  &__error {
    font-size: 12px;
    color: var(--color-dark-red);
    width: 100%;
    text-align: left;
    margin-top: 3px;
  }
}