.v-autocomplete {
  width: 100%;
  position: relative;
  text-align: left;

  &__label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: var(--color-gray);
    font-weight: 500;
    font-size: 14px;
    background-color: var(--color-white);
    padding: 0 4px;
    transition: .3s;
    pointer-events: none;

    &.error {
      color: var(--color-dark-red);
    }

    &.has__value {
      top: 0;
      left: 16px !important;
      font-size: 12px;
    }
  }

  &__box {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;

    &.hidden-details {
      height: 40px;
    }
  }

  &__text-input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--color-dark-gray);
    border-radius: 6px;
    position: relative;
    cursor: text;
    transition: all .2s;

    &:focus-within {
      border-color: var(--color-light-green);
    }

    &__main-text {
      width: 100%;
      display: flex;
      flex: 1 1;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      position: relative;
    }

    &__append-icons {
      position: relative;
      margin-right: 12px;
    }

    &__rotate-icon {
      transition: .2s all;
    }

    &__rotate-start {
      transform: rotate(180deg);
    }

    &-multiple {
      height: unset !important;
      min-height: 40px !important;
    }

    &__input {
      font-family: "Qanelas", sans-serif;
      padding: 0 16px;
      min-width: 64px;
      max-width: 100%;
      display: block;
      height: 100%;
      border: none;
      outline: none;
      flex: 1 1 auto;
      color: var(--color-light-blue);
      border-radius: 6px;
      font-weight: 500;
      font-size: 14px;

      &-is-multiple {
        width: unset;
      }

      &-multiple {
        height: 40px;
      }

      &:focus + .v-autocomplete__label {
        top: 0;
        left: 16px !important;
        font-size: 12px;
      }
    }

    &__selected-text {
      padding: 3px 7px;
      background: var(--color-dark-gray);
      color: var(--color-gray);
      border-radius: 6px;
      margin: 1px 5px;

      &__delete {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: 6px;
        margin-right: 3px;

        svg {
          cursor: pointer;
        }
      }

      &:first-child {
        margin-left: 16px;
      }

      &:last-child {
        margin-right: 16px;
      }
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    list-style: none;
    background: var(--color-white);
    border: 1px solid var(--color-dark-gray);
    border-radius: 6px;
    z-index: 2;

    &-has-no-error {
      margin-top: -20px;
    }

    &__no-data-text {
      padding: 12px;
    }

    &__hover-effect {
      background: var(--color-light-gray);
    }

    &__item {
      padding: 5px 16px;
      cursor: pointer;

      &__checkbox {
        margin-right: 5px;
      }

      &:hover {
        background: var(--color-light-gray);
      }

      &:first-child {
        padding-top: 10px;
      }

      &:last-child {
        padding-bottom: 10px;
      }

      &:focus {
        background: var(--color-light-gray);
      }
    }
  }

  &__error-message {
    color: var(--color-dark-red);
    font-size: 12px;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
