.v-datepicker {
  position: relative;

  .dp__input {
    background: var(--color-white);
    border-radius: 6px;
    height: 40px;
    font-size: 14px;
    color: var(--color-gray);
  }

  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 35px;
    transition: .3s all;
    font-size: 16px;
    color: var(--gray);
    pointer-events: none;

    &-up {
      &__error {
        color: var(--color-dark-red);
      }
    }
  }

  &__label-up {
    top: -1px;
    left: 16px;
    font-size: 12px;
    background: white;
    padding: 2px 5px;
  }

  &__error-message {
    font-size: 12px;
    text-align: left;
    margin-top: 3px;
    color: var(--color-dark-red);
  }

  &--default {
    .dp__input {
      border: 1px solid var(--color-dark-gray);
    }
  }

  &--error-message {
    .dp__input {
      border-color: var(--color-dark-red) !important;
    }
  }
}


.v-datepicker .el-date-editor.el-input, .el-date-editor.el-input__wrapper {
  height: 42px !important;
  width: 100%;
}

.v-datepicker .el-input__wrapper {
  width: 100%;
}

.v-datepicker .el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px var(--color-light-green) inset !important;
}

.v-datepicker .el-input__wrapper:hover {
  box-shadow: 0 0 0 1px var(--color-dark-gray) inset;
}