.v-file {
  &__wrapper {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &.hide-details {
      height: 40px;
    }
  }

  &__icon {
    transform: rotate(-45deg);
  }

  &__element {
    height: 40px;
    border: 1px solid var(--color-dark-gray);
    border-radius: 6px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 11px 16px;
    cursor: pointer;
    position: relative;
  }

  &__input {
    display: none;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 38px;
    transform: translateY(-50%);
    color: var(--color-gray);
    font-weight: 500;
    background-color: var(--color-white);
    padding: 0 4px;
    transition: .3s;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.focused {
      top: 0;
      left: 16px !important;
      font-size: 12px;
    }

    &.error {
      color: var(--color-dark-red);
    }
  }

  &__error {
    font-size: 12px;
    color: var(--color-dark-red);
    width: 100%;
    text-align: left;
  }

  &__value {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 4px;
  }

  &__clear {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .2s;

    &.hovered {
      opacity: 1;
    }
  }

  &__download {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
  }
}