.v-modal {
  &__container {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    &.hide {
      display: none;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(24, 39, 93, 0.24);
    z-index: 1000;
  }

  &__body {
    border-radius: 12px;
    position: relative;
    padding: 24px;
    background-color: var(--color-white);
    width: 100%;
    max-height: 90%;
    z-index: 1001;
    margin: 0 10px;
    overflow-y: auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    &.justify-end {
      justify-content: flex-end;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-darker-blue);
  }
}

.v-modal__container.dark {
  .v-modal__body {
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
    background-color: var(--color-dark-blue);
  }

  .v-modal__title {
    color: var(--color-white);
  }
}

.bounce-enter-active {
  animation: bounce-in 0.3s;
}

.bounce-leave-active {
  animation: bounce-in 0.3s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
