
.notify {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  padding: 0 30px;
  top: 20px;
  z-index: 100000;
  overflow: hidden;

  &__item {
    padding: 15px;
    margin-bottom: 10px;
    width: 320px;
    border-radius: 5px;
    color: white;
    transition: 1s all;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__close-icon {
      cursor: pointer;
      padding-left: 15px;
    }
  }
}


.notify-enter-active {
  animation: bounce-in .5s ease-in-out both;
}

.notify-leave-active {
  transform: translateX(550px);
  opacity: 0;
  transition: .5s all;
}

@keyframes bounce-in {
  0% {
    transform: translateX(550px);
  }
  20% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  65% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: scale(1);
  }
}


.success {
  background-color: #28B446;
}

.error {
  background-color: #F94E4F;
}
.warning {
  background-color: #e6aa12;
}