.v-switch {
  display: flex;
  align-items: center;
  position: relative;
  margin: 5px;
  @each $name, $value in (
          "gray": var(--color-gray),
          "primary": var(--color-light-green),
          "default": var(--color-green),
          "danger": var(--color-dark-red),
          "light-red": var(--color-light-red),
          "warning": var(--color-yellow),
  ) {
    &__input {
      &:checked ~ .v-switch--theme__indicator-#{$name} {
        border: 3px solid $value;
      }
      &:checked ~ .v-switch--theme__indicator-#{$name}::after {
        background: $value;
      }
    }
  }


  &__input {
    display: none;
    &:checked ~ .v-switch__indicator::after {
      left: 14px;
    }
  }

  &__indicator {
    width: 30px;
    height: 16px;
    border-radius: 8px;
    display: inline-block;
    border: 3px solid var(--color-dark-gray);
    transition: .1s all;
    position: relative;

    &--error {
      border-color: var(--color-dark-red);
      &::after {
        background: var(--color-dark-red) !important;
      }
    }

    &::after {
      content: "";
      transition: .3s all;
      position: absolute;
      border-radius: 50%;
      left: -8px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background: var(--color-gray);
    }
  }

  &__label {
    margin-left: 13px;

    &--error {
      color: var(--color-dark-red);
    }
  }

  &__error {
    height: 14px;

    &__text {
      color: var(--color-dark-red) !important;
      display: block;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
