@import "../globals/vars";

.permission {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
  }

  &__title {
    font-size: 30px;
    max-width: 600px;
    text-align: center;
  }
}

@media screen and (max-width: $offset-tablet) {
  .permission {
    &__title {
      font-size: 24px;
    }
  }
}